#testDrive main {
  width: 90% !important;
}

#testDrive main button {
  width: 100% !important;
}

#customOrder article img {
  cursor: pointer;
}

#customOrder article img:active {
  border: 2.5px solid blue;
  border-radius: 100%;
}

@media all and (min-width: 500px) {
  #testDrive main {
    width: 50% !important;
  }
  #testDrive main button {
    width: 22.5% !important;
  }
}
